<div id="navigation">
  <a href="<%= root_url %>"><%= image_tag 'name.png', :class => 'logo' %></a>
</div>
<div id="center">
  <div class="adjust"></div>
  <div id="title_image">
    <%= image_tag 'name.png', :class => 'logo' %>
    <p><span><%= I18n.t('site.home1') %></span></p>
  </div>
  <div id="info">
    <div id="info_wrapper">
      <p> <%= I18n.t('site.home2') %></p>
      <p> <%= I18n.t('site.home3') %></p>
    </div>
  </div>
  <div class="adjust"></div>
</div>
