<div id="navigation">
  <a href="<%= root_url %>"><%= image_tag 'name.png', :class => 'logo' %></a>

  <div id="gallery"> </div>
  <div id="home">
    <p> <%= I18n.t('site.home1') %></p>
    <p> <%= I18n.t('site.home2') %></p>
    <p> <%= I18n.t('site.home3') %></p>
  </div>
</div>



