<div id="navigation">
  <a href="<%= root_url %>"><%= image_tag 'name.png', :class => 'logo' %><a>
</div>
<% unless @list %>
  <div class="notice">
    <p>list does not exist</p>
  </div>
  <div class="notice name">
    <%= image_tag 'name.png' %>
  </div>
<% else %>
  <% if @list.private %>
    <div class="notice">
      <p>list is private</p>
    </div>
    <div class="notice name">
      <%= image_tag 'name.png' %>
    </div>
  <% elsif @list.items.size == 0 %>
    <div class="notice">
      <p>list is empty</p>
    </div>
    <div class="notice name">
      <%= image_tag 'name.png' %>
    </div>
  <% else %>
    <div id="wrapper">
      <div id="columns">
        <% @list.items.each do |i|  %>
          <% continue if i.private  %>
          <div class="pin">
            <% if i.img_hash && !i.img_hash.empty? %>
              <a href="<%= "http://i.imgur.com/#{i.img_hash}.jpg" %>"><img src="<%= "http://i.imgur.com/#{i.img_hash}.jpg" %>"></a>
            <% else %>
              <%= image_tag 'logo.png' %>
            <% end %>
            <p>
            <%= i.name %><strong> <%= I18n.t("category.#{i.category.name}")%></strong>
              <% if i.description && !i.description.empty? %>
                <br/><%= i.description %>
              <% end %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
